__pycache__/
.ipynb_checkpoints/
.venv/
.env
.env.*
!.env.example
*.csv
*.pkl
*.parquet
data/
data-prep/
data-preprocess/
predictions/
reddit_stream_output/
reddit_stream_processed/
checkpoint_dir/
.Rhistory
.RData
.DS_Store
